version: '3'
services:
  db:
    image: mysql:8.0
    env_file: .env
    ports:
      - "3306:3306"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - db_data:/var/lib/mysql

  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file: .env
    volumes:
      - ./:/app
      - /app/node_modules
    depends_on:
      - db
    ports:
      - "8080:8080"

volumes:
  db_data:
