
services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: chatdb
      MYSQL_USER: chatuser
      MYSQL_PASSWORD: ch@tp@ss
    ports:
      - "3306:3306"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - db_data:/var/lib/mysql

  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/app
    depends_on:
      - db
    environment:
      DB_HOST: "db"
      DB_USER: "chatuser"
      DB_PASSWORD: "ch@tp@ss"
      DB_NAME: "chatdb"
    ports:
      - "8080:8080"

volumes:
  db_data:
